@import "src/styles/scss/variables";
.mat-tab-group {
  margin-bottom: 2px;
}
.btn-none {
  border: none;
  outline: none;
  background: transparent;
  padding: 4px 44px;
}
// ::ng-deep
//   mat-tab-group
//   mat-tab-header
//   .mat-tab-label-container
//   .mat-tab-list
//   .mat-tab-labels
//   :last-child.mat-tab-label {
//   min-width: 0;
//   color: unset;
//   opacity: unset;
// }

.tilte-popover {
  color: #007bff;
  cursor: pointer;
  font-family: ui-monospace;
  font-size: 16px;
}

.btn-add {
  float: right;
}

.custom-icon {
  font-size: 18px;
}

.project-item {
  display: flex;
  justify-content: space-between;
  height: 12px;
}

.mat-tab-body-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
  height: calc(100vh - 120px);
}

.project-item {
  font-size: 14px;
  font-family: ui-monospace;
}
