.add-task-title {
  font-weight: 700;
  color: #2171c1;
  font-size: 14px;
}

.add-to-task-button {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 6px;
  text-align: left;
}

.btn-title-add-to-task {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.lbl-title-add-to-task {
  font-size: medium;
  font-weight: 600;
}

.btn-submit-todo {
  width: 100%;
  background-color: #3cc;
  border: none;
}
